<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-menu-custom" align-title="center">
      <!-- <ion-nav-back-button>
            </ion-nav-back-button> -->
      <ion-nav-title>
        <img src="img/headerlogo.png">
      </ion-nav-title>
      <!-- <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-home" ng-click="GoToHome()">
        </button>
      </ion-nav-buttons> -->
      <!-- <ion-nav-buttons side="right">
                <button class="button button-icon button-clear" ng-click="GoToProfile()">
                    <img src="img/icon-account.png" alt="">
                </button>
            </ion-nav-buttons> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


</ion-side-menus>
